body {
  font-family: TeXGyreHerosRegular, helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
article {
  overflow: auto;
}
.helvetica {
  font-family: helvetica;
}
.greatesque {
  font-family: greatesque_brush_scriptRg, helvetica, sans-serif;
}
.miama {
  font-family: MiamaRegular, helvetica, sans-serif;
}
.palatino {
  font-family: palatino, helvetica, sans-serif;
}
/* === SITE HEADER === */
.site-header {
  height:40px;
  margin:0 25px;
}
  .site-title {
    float:left;
    font-size: 2.5rem;
    margin-top: 20px;
    display:none;
  }
  .main-menu {
    float: right;
    display: none;
  }
    .main-menu li {
      font-family: MiamaRegular, greatesque_brush_scriptRg;
      font-size:2rem;
      float:left;
      list-style: none;
      padding:10px 25px;
    }
      .main-menu a:link, .main-menu a:visited {
        color:#b2b2b2;
        text-decoration: none;
      }

/* === COMMENTS === */
.comments {
  margin-top:100px;
}

/* === ARTICLE CONTENT === */
.l-single-column, .l-two-column {
  margin:2rem 1rem;
  overflow: auto;
}
  .l-single-column p, .l-two-column p {
    text-align: justify;
    font-family: palatino, Georgia,Cambria,"Times New Roman",Times,serif;
    /*font-weight: 400;*/
    font-style: normal;
    font-size: 18px;
    line-height: 1.28;
    /*letter-spacing: -0.003em;*/
  }
.thumbnail {
  height: 170px;
  width: 170px;
  margin: 0 20px 20px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
.post-info {
  color: #b2b2b2;
  margin-top: 50px;
}

/* === LARGE SCREENS === */
@media only screen and (min-width: 40.063em) {
  .site-header {
    height:80px;
    margin:0 50px;
  }
    .site-title, .main-menu {
      display: block;
    }

  /* === SITE SECONDARY UPDATES === */
  .secondaries {
    position: absolute;
    width: 250px;
    right: 50px;
    top:100px;
  }
    .secondary {
      background-color: white;
      height:200px;
      margin-top:50px;
    }

  /* === ARTICLE CONTENT === */
  /*.l-single-column, .l-two-column {
    margin:3rem 0;
  }*/
  .l-single-column, .comments {
    width: 700px;
    margin: 0 auto;
  }
  .comments {
    margin-top:100px;
    margin-bottom:100px;
  }
    .l-single-column p,
    .l-two-column p {
      text-align: justify;
      font-family: palatino, Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 400;
      font-style: normal;
      font-size: 21px;
      line-height: 1.58;
      letter-spacing: -0.003em;
    }
  .l-two-column {
    float: left;
    width: 46vw;
    margin-left: 6vw;
  }
    .l-main-column {
      width: 54vw;
    }
    .l-lesser-column {
      width: 30vw;
    }
    /*.l-left-column {
      float: left;
    }
    .l-right-column {
      float: left;
    }*/
}